    @font-face {
      font-family: OCRA;
      src: url('https://www.big-loser.site/Caso/OCRA Alt.otf') format('woff2');
      font-display: swap;
    }
    
    * {
      user-select: none;
      box-sizing: border-box;
      font-family: 'OCRA', monospace;
    }
    
    html, body {
      margin: 0;
      width: 100%;
    }
    
    img {
      border-radius: 15px;
    }
    
    .audio-container {
      margin-top: 20px;
      text-align: center;
      background: #FF9708;
      border: 2px solid #000000;
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 0 20px #000;
    }
    
    section {
      text-align: center;
      margin: 20px;
    }
    
    h6 {
      margin-left: 14%;
    }